.user-container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8rem;
}

.form-wrapper {
  border: black 1px solid;
  padding: 2rem;
}

.form-title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.form-user {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.double-input {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  align-items: center;
}

.login-inputs {
  display: flex;
  padding-left: 5rem;
  gap: 2rem;
  padding-right: 5rem;
  margin-bottom: 2rem;
}

.submit-buttons {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 1rem;
}
