table {
  max-width: 100%;
  width: 100%;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
  margin-top: 10px;
}

thead {
  background-color: #f8f8f8;
  font-size: 1.2rem;
  font-weight: 500;
}

th {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

th,
td {
  text-align: center;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

h2 {
  font-weight: bold;
  font-family: roboto;
  font-size: 16px;
}

.edit-button {
  width: 30px;
  height: auto;
  background-color: transparent;
  cursor: pointer;
}

.table-body tr {
  transition: all 0.1s ease;
}

.table-body tr:nth-child(odd) {
  background-color: #3340fd;
  color: white;
}

.table-body tr:nth-child(even) {
  background-color: #376cfc;
}

.table-body tr:hover {
  opacity: 0.9;
}
