table {
  max-width: 100%;
  width: 100%;
  border: 1px solid #afafaf;
  border-radius: 0.5rem;
}

thead {
  background-color: #919090;
  font-size: 1.2rem;
  font-weight: 500;
}

th {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

th,
td {
  text-align: center;
}
.edit-button {
  width: 30px;
  height: auto;
  background-color: white;
  cursor: pointer;
}

.table-body tr:nth-child(odd) {
  background-color: #414bd6; 
}

.table-body tr:nth-child(even) {
  background-color: #001c68;
  color: white;
}

.table-body tr:hover {
  background-color: #727194; 
}
