.textarea-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 2px;
}

.primary-textarea {
  border-radius: 0.25rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  border: 1px solid #ced4da;
  width: 100%;
  resize: none;

  :disabled {
    cursor: not-allowed;
  }

  :focus {
    ::placeholder {
      padding-left: 0.2rem;
      padding-right: 0.2rem;
      transition-duration: 200ms;
    }

    outline: none;
  }
}

.error-textarea {
  border-radius: 0.25rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  border: 1px solid #ef4444;
  color: #ef4444;
  resize: none;

  width: 100%;

  :disabled {
    cursor: not-allowed;
  }

  :focus {
    border: 1px solid #ef4444;
    ::placeholder {
      padding-left: 0.2rem;
      padding-right: 0.2rem;
      transition-duration: 200ms;
    }

    outline: none;
  }
}

.error-message {
  margin-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: #ef4444;
}
